<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.com.br/poli/RESTModel"
			class = "br.com.poli.rESTModel.RESTModelPackage"
			genModel = "model/generated/RESTModel.genmodel" />
	</extension>
</plugin>
